node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/worker-configuration.d.ts
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
